@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: auto;
    background-image: linear-gradient(to bottom, #2c2c2c, #0a0a0a);
}

form{
    background-color: #121212;
    border-radius: 8px;
}
